* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px Helvetica, Arial;
}

form {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 48px;
  padding: 4px;
  background: #000;
}

form #nickname {
  padding: 12px;
}

form #message {
  flex-grow: 8;
  padding: 10px;
  margin: 0 20px;
}

form input {
  border: 0;
}

form button {
  border: none;
  padding: 10px;
  background: #82e0ff;
}

form #nickname,
form button {
  flex-grow: 1;
  width: 8%;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 4px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}
